@using Memory.WebUI.BasketTransaction.BasketModels;
@model BasketDto

<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


<div class="container">
    <div class="row">
        <div class="span5">
            <table class="table table-striped table-condensed">
                <thead>
                    <tr>
                        <th>Baslık</th>
                        <th>Açıklama</th>
                        <th>Fiyat</th>
                        <th>Adet</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.BasketItems)
                    {
                        <tr>
                            <td>@item.Title </td>
                            <td>@item.Content</td>
                            <td>@item.Price</td>
                            <td>@item.Quantity</td>
                            <td>
                                <a href="/Basket/DeleteItem/@item.NotebookId" class="btn btn-success">Kaldır</a>
                                <a href="/Basket/DecreaseQuantity/@item.NotebookId" class="btn btn-danger">Azalt</a>
                                        
                            </td>
                        </tr>
                    }
                    <tr>

                        <td>
                            <h3>@Model.TotalPrice</h3>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>